<div class="container">

	<div class="row">

		<div class="col-md-12">
			<div class="col-md-2">
				<h1 class="mb-5 mt-5">Products</h1>
			</div>
			
			<div class="col-md-10 float-right">
				<%= link_to "New Product", new_product_path, class: "btn btn-primary" %>
			</div>
		</div>

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>User</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.name %></td>
						<td><%= product.description %></td>
						<td><%= product.price %></td>
						<td><%= product.user.present? ? product.user.name : "Sin usuario asociado." %></td>
						<td>
							<%= link_to "Mostrar", product_path(product) %>
							<%= link_to "Editar", edit_product_path(product) %>
							<%= link_to "Eliminar", product_path(product), method: :delete, data: { confirm: "Estas seguro de eliminar el producto?" } %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


